@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteLayout1.cshtml";
}

<div class="layout-one">
    <h1>Azure Aesthetics</h1>
    <h2>A Skin and Body Studio</h2>

    <aside>
        <section>
            <h3>Hours of Operation</h3>
            <ul>
				@Umbraco.Field("hoursofoperation")
            </ul>
        </section>

        @*<section>
            <h3>Online Booking</h3>
            <a href="https://www.bookfresh.com/index.html?id=2d88f1dc4a56d87f561b57e2c2626023&wi=3&view=button_dispatcher" target="_blank">
                <input type="button" class="btn btn-primary" value="Schedule an Appointment!" />
            </a>


        </section>*@

        <section>
            <h3>Contact</h3>

            @Umbraco.Field("contact")
         
        </section>

        <section>
            <h3>Get on our mailing list!</h3>
            @*@using (Html.BeginForm())
            {


                @Html.ValidationSummary()
                @Html.TextBoxFor(x => x.Email)
                <br />
                <br />

                <input class="btn btn-primary" type="submit" value="Submit" />

            }*@
        </section>

        <section>

            <a href="https://www.facebook.com/AzureAesthetics">
                <img src="~/Content/Images/Facebook_Badge-copy.jpg" />
            </a>


        </section>

    </aside>

 
    <article>
        <section>

            <div id="main-slide">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <img src="../../Content/Images/storepics/20131130_121237.jpg" alt="" />
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <div class="item ">
                            <img src="../../Content/Images/storepics/20131130_121251.jpg" alt="" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item ">
                            <img src="../../Content/Images/storepics/20131130_121357.jpg" alt="" />
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <div class="item ">
                            <img src="../../Content/Images/storepics/20131130_121339.jpg" alt="" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <h3>About Us</h3>

            @Umbraco.Field("aboutus")
         
        </section>

        <section>
            <h3>Find Us</h3>
            <p>
                2310 N Cherry St 100
            </p>
            <p>
                Spokane Valley, WA 99216
            </p>
            <p>
                Located in the beautiful and peaceful surroundings of Pinestone.
                Head up Cherry Street and take a left in the upper lot marked 2312/2314.
            </p>


            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=2310+N+Cherry+Ste.+100+Spokane+Valley,+WA+99216&amp;ie=UTF8&amp;hq=&amp;hnear=2310+N+Cherry+St+%23100,+Spokane+Valley,+Washington+99216&amp;gl=us&amp;t=m&amp;ll=47.681396,-117.236309&amp;spn=0.027737,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            <small><a href="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=2310+N+Cherry+Ste.+100+Spokane+Valley,+WA+99216&amp;ie=UTF8&amp;hq=&amp;hnear=2310+N+Cherry+St+%23100,+Spokane+Valley,+Washington+99216&amp;gl=us&amp;t=m&amp;ll=47.681396,-117.236309&amp;spn=0.027737,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed" style="color: #0000FF; text-align: left">View Larger Map</a></small>
        </section>

    </article>





</div>