@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteLayout1.cshtml";
}


<div class="layout-three">

    <section id="title">    
        @{
            if (Model.Content.HasValue("topImage"))
            {
                var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("topImage"));
                <img src="@mediaItem.GetPropertyValue("umbracoFile")" />
            }
            else
            {
                            <h3>@Umbraco.Field("pageName")</h3>
            }
        }
        <p>@Umbraco.Field("topmessage")</p>
    </section>

    <section id="top-content">
        <aside>
            <h4>@Umbraco.Field("lefttoptitle")</h4>
            <p>@Umbraco.Field("pricingmessage")</p>
            <table>
                <tbody>
                    @foreach (var item in CurrentPage.leftpricing)
                    {
                                            <tr>
                                                <td>@item.description</td>
                                                <td>@item.price</td>
                                            </tr>
                    }

                </tbody>
            </table>

            <h4>@Umbraco.Field("leftbottomtitle")</h4>
            
            @{
                if (Model.Content.HasValue("leftimage"))
                {
                    var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("leftimage"));
                    <img src="@mediaItem.GetPropertyValue("umbracoFile")" />
                }
            }

            @Umbraco.Field("leftitemslist")

        </aside>

        <article>
            <h4>@Umbraco.Field("righttoptitle")</h4>

            @Umbraco.Field("rightitemslist")



            @{
                if (Model.Content.HasValue("rightImageTop"))
                {
                    var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("rightImageTop")); 
                    <img src="@mediaItem.GetPropertyValue("umbracoFile")" />    
                }
            }

            @{
                if (Model.Content.HasValue("rightImageBottom"))
                {
                    var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("rightImageBottom"));
                    <img src="@mediaItem.GetPropertyValue("umbracoFile")" />
                }
            }
    

          
        </article>

    </section>


    @{
        if (Model.Content.HasValue("tabOne"))
        {
                    <section id="bottom-content">

                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#first" data-toggle="tab">@Umbraco.Field("tabOne")</a>
                            </li>
                            <li>
                                <a href="#second" data-toggle="tab">@Umbraco.Field("tabTwo")</a>
                            </li>
                            <li>
                                <a href="#third" data-toggle="tab">@Umbraco.Field("tabThree")</a>
                            </li>
                            <li>
                                <a href="#fourth" data-toggle="tab">@Umbraco.Field("tabFour")</a>
                            </li>
                        </ul>
    
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="first">
    
                                <article>
                                    @Umbraco.Field("tabOneContent")
                                </article>
    
                                <aside>
                                    @{
                                        if (Model.Content.HasValue("tabOneImage"))
                                        {
                                            var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("tabOneImage"));
                                            <img id="skinandbody-bioslimming-picbottom" src="@mediaItem.GetPropertyValue("umbracoFile")" />
                                        }
                                    }
                                </aside>
    
                            </div>
                            <div class="tab-pane fade" id="second">
                                @{
                                    if (Model.Content.HasValue("tabTwoImage"))
                                    {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("tabTwoImage"));
                                        <img src="@mediaItem.GetPropertyValue("umbracoFile")" />
                                    }
                                }
        
                                @Umbraco.Field("tabTwoContent")
                            </div>
                            <div class="tab-pane fade" id="third">
    
                                @{
                                    if (Model.Content.HasValue("tabThreeImage"))
                                    {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("tabThreeImage"));
                                        <img src="@mediaItem.GetPropertyValue("umbracoFile")" />
                                    }
                                }
                                @Umbraco.Field("tabThreeContent")
        
                            </div>
                            <div class="tab-pane fade" id="fourth">

                                @{
                                    if (Model.Content.HasValue("tabFourTopImage"))
                                    {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("tabFourTopImage"));
                                        <img src="@mediaItem.GetPropertyValue("umbracoFile")" />
                                    }
                                }
        
                                @{
                                    if (Model.Content.HasValue("tabFourBottomImage"))
                                    {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("tabFourBottomImage"));
                                        <img src="@mediaItem.GetPropertyValue("umbracoFile")" />
                                    }
                                }
                                @Umbraco.Field("tabFourContent")
                            </div>
                        </div>
    
                    </section>
    
        }
    }

</div>