@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    ViewBag.Title = @Umbraco.Field("pageName");
    Layout = "SiteLayout1.cshtml";
}

<div class="layout-two">
    <section id="title">
        <h3>@Umbraco.Field("pageName")</h3>

       <p>@Umbraco.Field("topmessage")</p> 

    </section>

    <section id="block">


        <table>
            <tbody>

                @foreach (var c in CurrentPage.bodycontent)
                {
                    <tr>
                        <td>
                            <h5>@c.service</h5>
                            <p>@c.description</p>
                        </td>
                        <td>@c.price</td>
                    </tr>
                }
            </tbody>
        </table>

    </section>

</div>