@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteLayout1.cshtml";
}


<div class="layout-three">

    <section id="title">
        <h3>@Umbraco.Field("pageName")</h3>

        <p>@Umbraco.Field("topmessage")</p>

    </section>

    <section id="top-content">
        <aside>
         <h4>@Umbraco.Field("lefttoptitle")</h4>         
            <table>
                <tbody>
                    @foreach (var item in CurrentPage.leftpricing)
                    {
                        <tr>
                            <td>@item.description</td>
                            <td>@item.price</td>
                        </tr>
                    }

                </tbody>
            </table>
 
            <h4>@Umbraco.Field("leftbottomtitle")</h4>


            @Umbraco.Field("leftitemslist")
            
            @Umbraco.Field("leftmessage")

        </aside>

        <article id="skinandbody-bodybronzing-article">
            <h4>@Umbraco.Field("righttoptitle")</h4>
            
            @*<img src="~/Content/Images/Body%20Bronzing/NorvellVenetianBNA.gif" />*@
					
            @{
                if (Model.Content.HasValue("rightimage"))
                {
                    var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("rightimage")); 
                    <img src="@mediaItem.GetPropertyValue("umbracoFile")" />    
                }
            }
        

        </article>



    </section>

    <section id="bottom-content">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#first" data-toggle="tab">Norvell</a></li>
            <li><a href="#second" data-toggle="tab">Focus Organic</a></li>
            <li><a href="#third" data-toggle="tab">Celestial Bronze</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="first">


                <ul>
                    <li>
                        We are now using Norvell products primarily for tanning.  Specifically Norvell Venetian.  Norvell spray tan solutions offer alluring sunless color that brings you steps away from a "Just off the Mediteranean Beach" tan.
                    </li>
                    <li>Paraben Free * Gluten Free * 100% Vegan * Nut Allergen Free</>
                    <li>Norvell Amber Sun VENETIAN spray tanning solution ..... Is an Exotically Inspired formula combining a violet and brown tone of bronzers. NorvellsJust of the Mediterranean Beach color is formulated to mimic this sought after color inductive of this beautiful region. The color works with all skin tones to produce our deepest, darkest, longest lasting tan yet!</li>
                    <li>Just off the Mediterranean Beach Color patented blend of Organic Eco-Cert DHA and bronzers found only in Norvell Professional Products</li>
                    <li>Advanced DHA Odor Encapsulation molecules 'trap' and virtually eliminate common sunless odor.</li>
                    <li>Unique Dermal Barrier locks DHA within the top layer of skin, providing Longer Lasting, Deeper Color Results.</li>
                    <li>Unique Dermal Barrier locks DHA within the top layer of skin, providing Longer Lasting, Deeper Color Results.</li>
                    <li>Natural Enzymes repair weak, dehydrated skin and promote the efficiency of the body's own natural moisture levels.</li>
                    <li>Time Release Micro Capsules hold and bind moisture within the skin, providing 24 hour hydration.</li>
                    <li>Norvell Amber Sun VENETIAN Spray Tanning Solution is a new color with custom designed sunless tanning solution that produces an express, quick-drying, natural, long-lasting, Just of the Mediterranean Beach color tan! Radiant supple bronzed skin is only one spray away!</li>
                    <li>Hydro-Firm Moisturizing Post Treatment seals your sunless experience with our proprietary moisturizer blend. Ultra hydrating, moisturizing spray with fruit prime extracts, DHA enhances and skin firming benefits.</li>
                    <li>Post Sunless Finishing Spray: skin firming, rejuvenating and nourishing while naturally rebuilding the skin’s bio-functions.</li>
                    <li>Skin Treatment: Replenishes and hydrates dry skin that often results from the effects of DHA.</li>
                    <li>Improves Results: High vitamin content penetrates the skin’s outer layer boosting melanin development to enhance and maintain tanning results.</li>
                </ul>
                <img class="image-half" src="~/Content/Images/Body%20Bronzing/venetian.jpg" />



            </div>
            <div class="tab-pane fade" id="second">
                <p>We also carry focus organic-light, med & dark (last only 2-3 days, but its 100% organic versus the other two only having organic DHA)</p>
                <p>Focus is a premium solution that uses anti-aging ingredients to achieve a healthy, natural glow. Caramel in combination with smaller amounts of F, D & C Dyes to produces a more natural, immediate bronze look with less wash-off and less rub-off. Focus also has a potent blend of DHA and Erythrulose for a natural, rich bronze tan that looks great on a broad range of skin types, including light skin.</p>


            </div>
            <div class="tab-pane fade" id="third">
                <ul>
                    <li>Certified Organic DHA</li>
                    <li>Wrinkle-Inhibiting</li>
                    <li>Moisturizing</li>
                    <li>Paraben Free</li>
                    <li>Safe for All Skin Types</li>
                </ul>

                <p>Celestial Bronze Glow spray tanning solution is an organic DHA-Certified tan solution uniquely formulated to give flawless sunless tanning results without the harsh chemicals found in many typical sunless tanning solutions. Specifically formulated to be safe for every skin type, this spray tan mist also has a wrinkle-inhibiting, moisturizing formula to promote younger-looking skin. Results last about 7-10 days.</p>





            </div>
        </div>
        <p id="bottom-message">We use Norvell XlaTan Ph balancing spray prior to your bronze. This important step helps balance the skins ph to create a deeper, more even tan.  We are using Norvell Hydrofirm sprat as a 'sealant' after the bronze to assist in lasting results.</p>

    </section>














</div>